ChangeLog
aspell.txt
aspellalt.txt
aspelllit.txt
athfhocail-pre.txt
caighdean.txt
ga-Latg-IE.aff
ga-Latg-IE.dic
gaeilge.hash
gaeilge.stat
gaeilgelit.aff
gaeilgelit.hash
gaeilgemor.diff
gaeilgemor.hash
gaeilge-pre.mor
gaelspell.txt
gaelu
giorr
miotas.txt
personal
repl
romhanach
seanghaeilge.dic
stair.txt
META-INF/
README_ga_IE.txt
dictionaries/
ga-IE-dictionary.xpi
ga_IE.aff
ga_IE.dic
